<!--
	commented the duckduckgo search field out for now because as of now, https://metasfresh.github.io/metasfresh-documentation is aparently not indexed and i can't see how to speed that up
	<iframe src="https://duckduckgo.com/search.html?site=https://metasfresh.github.io/metasfresh-documentation/&prefill=Search the metasfresh documentation" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
-->
	<!-- adding the data-proofer-ignore ignore attribute for html-proofer, because when this is evaluated, the respective md file might not yet be on the ghpages branch -->
	<hr>
      {% if page.name == "index.md" %}
          <a href="https://github.com/metasfresh/metasfresh/releases/latest" title="View the latest metasfresh release" target="\_blank" data-proofer-ignore>View our Source Code on GitHub.com</a>
      {% else %}
          {% if page.lang == 'de' or include.lang == 'de' %}
              <a href="https://github.com/metasfresh/metasfresh-documentation/blob/gh-pages/{{page.path}}" title="Quelldatei dieser Seite anzeigen" target="\_blank" data-proofer-ignore>Zur Quelldatei auf GitHub.com</a>
          {% else %}
              <a href="https://github.com/metasfresh/metasfresh-documentation/blob/gh-pages/{{page.path}}" title="View this page's source file" target="\_blank" data-proofer-ignore>View source file on GitHub.com</a>
          {% endif %}
      {% endif %}
	<br/>

	{% comment %}
	This doesn't really make sense, because all pages are recreated if one of them changes.
	What we could use would be an indiviual page's update time..
	Seite zuletzt geändert: {{ site.time | date_to_long_string }}
	{% endcomment %}

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-70249235-3', 'auto');
	  ga('send', 'pageview');

	</script>

	<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="{{ site.github.url }}/ressources/js/script.js"></script>

</body>
</html>
