<!--
	commented the duckduckgo search field out for now because as of now, https://metasfresh.github.io/metasfresh-documentation is aparently not indexed and i can't see how to speed that up
	<iframe src="https://duckduckgo.com/search.html?site=https://metasfresh.github.io/metasfresh-documentation/&prefill=Search the metasfresh documentation" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
-->
	<!-- adding the data-proofer-ignore ignore attribute for html-proofer, because when this is evaluated, the respective md file might not yet be on the ghpages branch -->
	<hr>
      {% if page.name == "index.md" %}
          <a href="https://github.com/metasfresh/metasfresh/releases/latest" title="View the latest metasfresh release" target="\_blank" data-proofer-ignore>View our Source Code on GitHub.com</a>
      {% else %}
          {% if page.lang == 'de' or include.lang == 'de' %}
              <a href="https://github.com/metasfresh/metasfresh-documentation/blob/gh-pages/{{page.path}}" title="Quelldatei dieser Seite anzeigen" target="\_blank" data-proofer-ignore>Zur Quelldatei auf GitHub.com</a>
          {% else %}
              <a href="https://github.com/metasfresh/metasfresh-documentation/blob/gh-pages/{{page.path}}" title="View this page's source file" target="\_blank" data-proofer-ignore>View source file on GitHub.com</a>
          {% endif %}
      {% endif %}
	<br/>

	{% comment %}
	This doesn't really make sense, because all pages are recreated if one of them changes.
	What we could use would be an indiviual page's update time..
	Seite zuletzt geändert: {{ site.time | date_to_long_string }}
	{% endcomment %}
</body>
</html>
