{% comment %} 
Iterates all pages which have the given tag and add links to them.
Pages which have the tag as their first tag, are primary pages, the others are secondary pages.
Primary pages are sorted by the respective pages' optional "sequence" values. 
Parameters:
  include.pages: the array of pages to iterate
  include.tag: the given tag to filter for (tag variable from the front matter)
  include.lang: optional, maybe null; the given language to filter for (lang variable from the front matter)
{% endcomment %}

{% assign primary_pages = '' | split: ',' %}
{% assign secondary_pages = '' | split: ',' %}

{% for current_page in include.pages %}

	{% unless current_page.tags contains include.tag %}
		{% continue %}
	{% endunless %}
	{% if include.lang && current_page.lang != include.lang %}
		{% continue %}
	{% endif %}
	
	{% if current_page.tags[0] == include.tag %}
		 {% assign primary_pages = primary_pages | push: current_page %}
	{% else %}
		{% assign secondary_pages = secondary_pages | push: current_page %}
	{% endif %}

{% endfor %}

{% comment %} sort them {% endcomment %}
{% assign primary_sorted_pages = primary_pages | sort: 'sequence', 'last' %}

{% comment %} output them, first the sorted ones, then the rest {% endcomment %}

<!-- DEBUG BEGIN tag_linklist.html -->
<!-- DEBUG lang='{{ lang }}' -->
<!-- DEBUG include.lang='{{ include.lang }}' -->
<!-- DEBUG include.tag='{{ include.tag }}' -->
<!-- DEBUG pages that have '{{ include.tag }}' as primary tag (might be empty) -->
<ul>
{% for current_page in primary_sorted_pages %}
	<li><a href="{{ site.github.url }}{{ current_page.url }}">{{ current_page.title }}</a>
	{% if current_page.summary %}
		: {{ current_page.summary }}
	{% endif %}
	</li>
{% endfor %}
</ul>

{% comment %} if both primary_sorted_pages and secondary_pages are not empty, then add "Weitere Infos" to distinguish the two {% endcomment %}
{% if primary_sorted_pages != empty and secondary_pages != empty %}
<b>Weitere Infos</b>
{% endif %}

<!-- DEBUG pages that have '{{ include.tag }}' as secondary tag (might be empty) -->
<ul>
{% for current_page in secondary_pages %}
	<li><a href="{{ site.github.url }}{{ current_page.url }}">{{ current_page.title }}</a>
	{% if current_page.summary %}
		: {{ current_page.summary }}
	{% endif %}
	</li>
{% endfor %}
</ul>
<!-- DEBUG END tag_linklist.html -->