# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.gfm':
  'Logon':
    'prefix': 'logon'
    'body': '[Logon](Logon)'
  'window':
    'prefix': 'window'
    'body': '[Open window](Menu)'
  'New_Record_Window':
    'prefix': 'New_Record_Window'
    'body': 'Create [new record](New_Record_Window)'
  'New_Record_Tab':
    'prefix': 'New_Record_Tab'
    'body': '[add a new record](New_Record_Tab)'
  'note':
    'prefix': 'note'
    'body': '> Note:'
# DE
  'Anmeldung':
    'prefix': 'Anmeldung'
    'body': '[Melde Dich an](Anmeldung)'
  'Fenster':
    'prefix': 'Fenster'
    'body': '[Öffne das Fenster](Menu)'

  'Neuer_Datensatz_Fenster':
    'prefix': 'Neuer_Datensatz_Fenster'
    'body': '[Lege einen neuen Datensatz an](Neuer_Datensatz_Fenster_Webui)'
  'Neuer_Datensatz_Tab':
    'prefix': 'Neuer_Datensatz_Tab'
    'body': '[Lege einen neuen Datensatz an](Neuer_Datensatz_Tab_Webui)'
  'Hinweis':
    'prefix': 'Hinweis'
    'body': '> Hinweis:'
